@import "reset.css";

:root {
    --odd-dark-color: #dbdbdb;
    --odd-light-color: #e7e7e7;
    --even-dark-color: #ececec;
    --even-light-color: #f3f3f3;
    font-family: sans-serif;
}

table {
    margin: 10px;
    border-radius: 10px;
}

tr, th, td {
    padding: 20px;
    text-align: center;
}

thead {
    color: white;
    font-size: 20px;
}

thead tr > th:nth-child(1) {
    background-color: #7887ab;
}

thead tr > th:nth-child(2) {
    background-color: #4f628e;
}

thead tr > th:nth-child(3) {
    background-color: #2e4172;
}

thead tr > th:nth-child(4) {
    background-color: #162955;
}

thead tr > th:nth-child(5) {
    background-color: #061539;
}

.title th:first-child {
    border-top-left-radius: 10px;
}

.title th:last-child {
    border-top-right-radius: 10px;
}

thead th:first-child > div {
    position: relative;
    top: -15px;
}

.price span {
    display: block;
    font-size: 40px;
}

td:first-child {
    text-align: left;
}

tbody tr:nth-child(odd) {
    background: var(--odd-dark-color);
}

tbody tr:nth-child(odd) > td:nth-child(even) {
    background: var(--odd-light-color);
}

tbody tr:nth-child(even) {
    background: var(--even-dark-color);
}

tbody tr:nth-child(even) > td:nth-child(even) {
    background: var(--even-light-color);
}

tfoot td:nth-child(odd) {
    background: var(--odd-dark-color);
}

tfoot td:nth-child(even) {
    background: var(--odd-light-color);
}

tfoot td:first-child {
    border-bottom-left-radius: 10px;
}

tfoot td:last-child {
    border-bottom-right-radius: 10px;
}

button {
    border: 1px solid #afafaf;
    background-color: #d3d3d3;
    color: #5f6269;
    padding: 10px 45px;
}

